.albumCovers {
  position: relative;
  margin: 25px;
  height: 25vh;
  width: auto;
}

.albumSelected {
  box-shadow: 0px 0px 20px 10px gold
}

.music {
  margin-top: 25vh;
  font-size: 100px;
  color: #3A2C16;
  animation: rotation 3s infinite linear;
}

.spacer {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.wallpaperButton {
  margin: 10px;
  padding: 5px;
  color: #757575;
  border: 2px solid #855d05;
  border-radius: 10px;
  background-color: #FBE36E;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}