.header {
    padding: 15px;
    background-image: linear-gradient(#DFA705, #FACC22, #FBE36E);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    color: #3A2C16;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid #855D05;
    font-family: 'Piedra', cursive;
}

.links {
    color: #3a2c16
}